@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.letter {
  font-family: "Bungee", sans-serif;
}
.letter1 {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: rgb(231, 222, 224);
  border: 1px solid #070505;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.precio-boton {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  gap: 8px; 
  margin-top: 10px;
}

.precio { text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #b85c5c;
}

.mi-boton {text-align: center;
  background-color: pink;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.contenido {
  padding: 10px;
  text-align: center;
}

.contenido h2 {
  font-size: 1.2rem;
  color: #9e7254;
}

.contenido i {
  font-size: 0.9rem;
  color: #333;
}

.footer{
margin: 20px;
  text-align: center;
  border-top: 1px solid black;
}
.footer1{
  margin-top: 10px;
}